* {
  text-align: center;
  color: white;
}

li.level-item {
  /* background-color: #007833;
  margin: 5rem; */
  box-shadow: 1em 1em 3em rgba(0, 0, 0, 0.5);
  background: linear-gradient(90deg, #e6e6e6, #ececec) padding-box, linear-gradient(to right bottom, #fff, #c8c8c8) border-box;
}

img {
  max-width: 30rem;
}

